<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News.com/Entertainment</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row">
            {% for i in data %}
            <div class="col-4 pt-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{i.image.url}}" class="card-img-top" alt="News image">
                    <div class="card-body">
                        <h5 class="card-title">{{i.headline}}</h5>
                        <p class="card-text">{{i.description}}</p>
                        <a href="{% url 'read' pk=i.id %}"  class="btn btn-primary">Read full News</a>
                        <div class="card-footer text-body-secondary">
                            News of:{{i.date}}
                           </div>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
</body>
</html>